In [2]:
# import library
import pandas as pd
import numpy as np

In [32]:
# read dataset
# url = 'https://raw.githubusercontent.com/Lutfiazhar000/dataset/main/WHO-COVID-19-global-data.csv'
url = 'https://raw.githubusercontent.com/Lutfiazhar000/dataset/main/WHO-COVID-19-global-data-2.csv'
df = pd.read_csv(url)
df

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
...,...,...,...,...,...,...,...,...
293401,2023-05-20,ZW,Zimbabwe,AFRO,0,264848,0,5690
293402,2023-05-21,ZW,Zimbabwe,AFRO,0,264848,0,5690
293403,2023-05-22,ZW,Zimbabwe,AFRO,0,264848,0,5690
293404,2023-05-23,ZW,Zimbabwe,AFRO,0,264848,0,5690
293405,2023-05-24,ZW,Zimbabwe,AFRO,0,264848,0,5690

In [4]:
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [13]:
df.index

RangeIndex(start=0, stop=293406, step=1)

In [26]:
df.values

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2023-05-22', 'ZW', 'Zimbabwe', ..., 264848, 0, 5690],
       ['2023-05-23', 'ZW', 'Zimbabwe', ..., 264848, 0, 5690],
       ['2023-05-24', 'ZW', 'Zimbabwe', ..., 264848, 0, 5690]],
      dtype=object)

In [15]:
df.shape

(293406, 8)

In [16]:
df.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [17]:
df.head(10)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0
5,2020-01-08,AF,Afghanistan,EMRO,0,0,0,0
6,2020-01-09,AF,Afghanistan,EMRO,0,0,0,0
7,2020-01-10,AF,Afghanistan,EMRO,0,0,0,0
8,2020-01-11,AF,Afghanistan,EMRO,0,0,0,0
9,2020-01-12,AF,Afghanistan,EMRO,0,0,0,0

In [25]:
df.tail(10)

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
293396,2023-05-15,ZW,Zimbabwe,AFRO,7,264848,0,5690
293397,2023-05-16,ZW,Zimbabwe,AFRO,0,264848,0,5690
293398,2023-05-17,ZW,Zimbabwe,AFRO,0,264848,0,5690
293399,2023-05-18,ZW,Zimbabwe,AFRO,0,264848,0,5690
293400,2023-05-19,ZW,Zimbabwe,AFRO,0,264848,0,5690
293401,2023-05-20,ZW,Zimbabwe,AFRO,0,264848,0,5690
293402,2023-05-21,ZW,Zimbabwe,AFRO,0,264848,0,5690
293403,2023-05-22,ZW,Zimbabwe,AFRO,0,264848,0,5690
293404,2023-05-23,ZW,Zimbabwe,AFRO,0,264848,0,5690
293405,2023-05-24,ZW,Zimbabwe,AFRO,0,264848,0,5690

In [18]:
df.info

<bound method DataFrame.info of        Date_reported Country_code      Country WHO_region  New_cases  \
0         2020-01-03           AF  Afghanistan       EMRO          0
1         2020-01-04           AF  Afghanistan       EMRO          0
2         2020-01-05           AF  Afghanistan       EMRO          0
3         2020-01-06           AF  Afghanistan       EMRO          0
4         2020-01-07           AF  Afghanistan       EMRO          0
...              ...          ...          ...        ...        ...
293401    2023-05-20           ZW     Zimbabwe       AFRO          0
293402    2023-05-21           ZW     Zimbabwe       AFRO          0
293403    2023-05-22           ZW     Zimbabwe       AFRO          0
293404    2023-05-23           ZW     Zimbabwe       AFRO          0
293405    2023-05-24           ZW     Zimbabwe       AFRO          0

        Cumulative_cases  New_deaths  Cumulative_deaths
0                      0           0                  0
1                      0           0                  0
2                      0           0                  0
3                      0           0                  0
4                      0           0                  0
...                  ...         ...                ...
293401            264848           0               5690
293402            264848           0               5690
293403            264848           0               5690
293404            264848           0               5690
293405            264848           0               5690

[293406 rows x 8 columns]>

In [9]:
df.describe

<bound method NDFrame.describe of        Date_reported Country_code      Country WHO_region  New_cases  \
0         2020-01-03           AF  Afghanistan       EMRO          0
1         2020-01-04           AF  Afghanistan       EMRO          0
2         2020-01-05           AF  Afghanistan       EMRO          0
3         2020-01-06           AF  Afghanistan       EMRO          0
4         2020-01-07           AF  Afghanistan       EMRO          0
...              ...          ...          ...        ...        ...
293401    2023-05-20           ZW     Zimbabwe       AFRO          0
293402    2023-05-21           ZW     Zimbabwe       AFRO          0
293403    2023-05-22           ZW     Zimbabwe       AFRO          0
293404    2023-05-23           ZW     Zimbabwe       AFRO          0
293405    2023-05-24           ZW     Zimbabwe       AFRO          0

        Cumulative_cases  New_deaths  Cumulative_deaths
0                      0           0                  0
1                      0           0                  0
2                      0           0                  0
3                      0           0                  0
4                      0           0                  0
...                  ...         ...                ...
293401            264848           0               5690
293402            264848           0               5690
293403            264848           0               5690
293404            264848           0               5690
293405            264848           0               5690

[293406 rows x 8 columns]>

In [11]:
df.max

<bound method NDFrame._add_numeric_operations.<locals>.max of        Date_reported Country_code      Country WHO_region  New_cases  \
0         2020-01-03           AF  Afghanistan       EMRO          0
1         2020-01-04           AF  Afghanistan       EMRO          0
2         2020-01-05           AF  Afghanistan       EMRO          0
3         2020-01-06           AF  Afghanistan       EMRO          0
4         2020-01-07           AF  Afghanistan       EMRO          0
...              ...          ...          ...        ...        ...
293401    2023-05-20           ZW     Zimbabwe       AFRO          0
293402    2023-05-21           ZW     Zimbabwe       AFRO          0
293403    2023-05-22           ZW     Zimbabwe       AFRO          0
293404    2023-05-23           ZW     Zimbabwe       AFRO          0
293405    2023-05-24           ZW     Zimbabwe       AFRO          0

        Cumulative_cases  New_deaths  Cumulative_deaths
0                      0           0                  0
1                      0           0                  0
2                      0           0                  0
3                      0           0                  0
4                      0           0                  0
...                  ...         ...                ...
293401            264848           0               5690
293402            264848           0               5690
293403            264848           0               5690
293404            264848           0               5690
293405            264848           0               5690

[293406 rows x 8 columns]>

In [12]:
df.min

<bound method NDFrame._add_numeric_operations.<locals>.min of        Date_reported Country_code      Country WHO_region  New_cases  \
0         2020-01-03           AF  Afghanistan       EMRO          0
1         2020-01-04           AF  Afghanistan       EMRO          0
2         2020-01-05           AF  Afghanistan       EMRO          0
3         2020-01-06           AF  Afghanistan       EMRO          0
4         2020-01-07           AF  Afghanistan       EMRO          0
...              ...          ...          ...        ...        ...
293401    2023-05-20           ZW     Zimbabwe       AFRO          0
293402    2023-05-21           ZW     Zimbabwe       AFRO          0
293403    2023-05-22           ZW     Zimbabwe       AFRO          0
293404    2023-05-23           ZW     Zimbabwe       AFRO          0
293405    2023-05-24           ZW     Zimbabwe       AFRO          0

        Cumulative_cases  New_deaths  Cumulative_deaths
0                      0           0                  0
1                      0           0                  0
2                      0           0                  0
3                      0           0                  0
4                      0           0                  0
...                  ...         ...                ...
293401            264848           0               5690
293402            264848           0               5690
293403            264848           0               5690
293404            264848           0               5690
293405            264848           0               5690

[293406 rows x 8 columns]>

In [31]:
df.Country.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'CÃ´te dâ€™Ivoire', 'Croatia', 'Cuba', 'CuraÃ§ao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'RÃ©union', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint BarthÃ©lemy',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'TÃ¼rkiye', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [22]:
df.std()

/tmp/ipykernel_5094/3390915376.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.std()

New_cases            3.861503e+04
Cumulative_cases     6.042365e+06
New_deaths           1.431455e+02
Cumulative_deaths    7.216308e+04
dtype: float64

In [23]:
df.count

<bound method DataFrame.count of        Date_reported Country_code      Country WHO_region  New_cases  \
0         2020-01-03           AF  Afghanistan       EMRO          0
1         2020-01-04           AF  Afghanistan       EMRO          0
2         2020-01-05           AF  Afghanistan       EMRO          0
3         2020-01-06           AF  Afghanistan       EMRO          0
4         2020-01-07           AF  Afghanistan       EMRO          0
...              ...          ...          ...        ...        ...
293401    2023-05-20           ZW     Zimbabwe       AFRO          0
293402    2023-05-21           ZW     Zimbabwe       AFRO          0
293403    2023-05-22           ZW     Zimbabwe       AFRO          0
293404    2023-05-23           ZW     Zimbabwe       AFRO          0
293405    2023-05-24           ZW     Zimbabwe       AFRO          0

        Cumulative_cases  New_deaths  Cumulative_deaths
0                      0           0                  0
1                      0           0                  0
2                      0           0                  0
3                      0           0                  0
4                      0           0                  0
...                  ...         ...                ...
293401            264848           0               5690
293402            264848           0               5690
293403            264848           0               5690
293404            264848           0               5690
293405            264848           0               5690

[293406 rows x 8 columns]>

In [24]:
df.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of        Date_reported Country_code      Country WHO_region  New_cases  \
0         2020-01-03           AF  Afghanistan       EMRO          0
1         2020-01-04           AF  Afghanistan       EMRO          0
2         2020-01-05           AF  Afghanistan       EMRO          0
3         2020-01-06           AF  Afghanistan       EMRO          0
4         2020-01-07           AF  Afghanistan       EMRO          0
...              ...          ...          ...        ...        ...
293401    2023-05-20           ZW     Zimbabwe       AFRO          0
293402    2023-05-21           ZW     Zimbabwe       AFRO          0
293403    2023-05-22           ZW     Zimbabwe       AFRO          0
293404    2023-05-23           ZW     Zimbabwe       AFRO          0
293405    2023-05-24           ZW     Zimbabwe       AFRO          0

        Cumulative_cases  New_deaths  Cumulative_deaths
0                      0           0                  0
1                      0           0                  0
2                      0           0                  0
3                      0           0                  0
4                      0           0                  0
...                  ...         ...                ...
293401            264848           0               5690
293402            264848           0               5690
293403            264848           0               5690
293404            264848           0               5690
293405            264848           0               5690

[293406 rows x 8 columns]>